<%@page_title = "Delete Admin User"%>

<%= link_to("<<Back to list", admin_users_path, :class => "back-link")%>

<div class="Admin User Delete">
    <h2>Delete Admin User</h2>

    <%= form_for(@admin_user, :method => 'delete') do |f| %>
        <p>Are you sure you want to permanently delete this user?</p>
        
        <p class="reference-name">Admin User reference: <strong><%= @admin_user.username%></strong></p>

        <div class="form-buttons">
      <%= f.submit("Delete Admin User") %>
    </div>

  <% end %>
</div>


